<div class="mt-5 pt-5 pb-5 footer" style="background-color: #e7e7e7">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h4>Opening Hours</h4>
        <p>Monday to Friday: 5-10pm</p>
        <p>Saturday and Sundays: 5-10pm</p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-0">Links</h4>
        <ul class="m-0 p-0">
          <li><a href="#">Terms & Conditions</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">Privacy Notice</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>45 Chestnut Grove Balham London SW12 8JZ</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      </div>
    </div>
    <div class="text-center mt-auto">
      <p class="mb-0">
        <small class="text-muted">© 2024. All Rights Reserved.</small>
      </p>
    </div>
  </div>
</div>
