<div class="content-wrapper sidebar">
  <nav>
    <ul>
      <h4>Menu</h4>
      <ul class="list-unstyled">
        <li><a routerLink="/drinks">Drinks</a></li>
        <li><a routerLink="/spanish food">Spanish Food</a></li>
        <!-- Spanish dishes <li> -->
        <ul>
          <li><a routerLink="tapas">Tapas</a></li>
          <li><a routerLink="Seaworthy">Seaworthy</a></li>
          <li><a routerLink="Sea bass paella">Sea bass paella</a></li>
          <li><a routerLink="Rabbit paella">Rabbit paella</a></li>
          <li><a routerLink="Sangria">Sangria</a></li>
          <li>
            <a routerLink="Hot chocolate & churros">Hot chocolate & churros</a>
          </li>
        </ul>

        <!-- Indian dishes <li> -->
        <li><a routerLink="/indian food">Indian Food</a></li>
        <ul>
          <li><a routerLink="Samosas">Samosas</a></li>
          <li><a routerLink="Chicken Biryany">Chicken Biryany</a></li>
          <li>
            <a routerLink="Chicken Tikka Massala">Chicken Tikka Massala</a>
          </li>
          <li><a routerLink="Rogan Josh curry">Rogan Josh curry</a></li>
          <li><a routerLink="Tandori chicken">Tandori chicken</a></li>
          <li><a routerLink="indian tea">Indian tea</a></li>
        </ul>
        <li><a routerLink="/indian food">Italian Food</a></li>
        <ul>
          <li><a routerLink="Bolognese pasta">Bolognese pasta</a></li>
          <li><a routerLink="Carbonara pasta">Carbonara pasta</a></li>
          <li><a routerLink="Margherita pizza">Margherita pizza</a></li>
          <li><a routerLink="Pepperoni pizza">Pepperoni pizza</a></li>
          <li><a routerLink="Pistachio gelato">Pistachio gelato</a></li>
          <li><a routerLink="Cioccolato gelato">Cioccolato gelato</a></li>
          <li><a routerLink="Tiramisu">Tiramisu</a></li>
        </ul>
      </ul>
    </ul>
  </nav>
</div>
